#llamaparse config for ingestion only
LLAMA_CLOUD_API_KEY = "your_llama_cloud_api_key"

#Qdrant config for retrieval
QDRANT_API_KEY = "your_qdrant_api_key"

#generation config for retrieval
OPENAI_API_KEY = "your_open_ai_key"

#for ingestion script tokenizer
NLTK_DATA=.nltk_data