#Environment Variables
.env
.env.local
.env.development.local

# virtual environment
.venv/

# Logs
app.log
*.log

#data files
data/

# Misc
__pycache__/

# IDEs
.vscode/    

# Vector Store 
*.pkl
*.faiss